.Home {
    .pricesort {
        width: 95%;
        margin: 25px auto;
    }
    .title {
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.swiper-container {
    width: 100%;
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-box{
    display: flex;
    border-bottom: 2px solid rgba(19,19,19,0.2);
    justify-content: center;
    width: 85%;
    margin: 25px auto;


    div{
        display: flex;
        width: 350px;
        padding: 25px;
        color: #0275d8;

        i{
            font-size: 2rem;
            margin-right: 15px;
        }
    }
}


@media only screen and (max-width:500px) {
    .info-box{
        flex-direction: column;
    }
}
.pricesort {

    .swiper-container {
        width: 100%;
        height: 320px;
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 300px;
        justify-content: space-between;
        background-color: #e6f9ff;
        border-radius: 15px;
        padding: 15px;
        

        img {
            width: 200px;
            height: 200px;
            border-radius: 15px;
        }
        .link {
            text-decoration: none;
            color: #0275d8;
        }
        .data {
            display: flex;
            align-items: center;
            width: 90%;
            justify-content: space-between;
            i {
                font-size: 2rem;
                cursor: pointer;
                background-color: #fff;
                width: 1.5em;
                height: 1.5em;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #0275d8;
            }
        }
    }
}
