.slider {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: gray;
}

.image {

    width: 1000px;
    height: 500px;
}
.arrow{
    position: absolute;
    top: 50%;
    font-size: 3rem;
    color: #000;
    z-index: 3;
    cursor: pointer;
    user-select: none;
}
.right-arrow {
    right: 25px;
}

.left-arrow {
    left: 25px;
}
